persistence:
  enabled: true
  size: 5Gi
  storageClassName: local-path 
adminUser: admin
adminPassword: admin
service:
  type: ClusterIP
ingress:
  enabled: true
  hosts:
    - grafana.local
  tls:
    - secretName: homelab-tls
      hosts:
        - grafana.local

