persistence:
  enabled: true
  size: 5Gi
  storageClassName: local-path 
securityContext:
  fsGroup: 472
  runAsUser: 472
adminUser: admin
adminPassword: admin
service:
  type: ClusterIP
ingress:
  enabled: true
  ingressClassName: nginx
  hosts:
    - grafana.local
  tls:
    - secretName: homelab-tls
      hosts:
        - grafana.local

