hub:
  config:
    Authenticator:
      admin_users:
      - admin
    JupyterHub:
      admin_access: true
prePuller:
  continuous:
    enabled: false
  hook:
    enabled: false
proxy:
  secretToken: your-secret-token
singleuser:
  image:
    name: jupyter/scipy-notebook
    tag: latest
  storage:
    extraVolumeMounts: []
    type: dynamic
