apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/s-frw/homelab'
    targetRevision: main             
    path: helm-chart/kube-prometheus-stack
    helm:
      releaseName: kube-prom
      valueFiles:
        - ../../helm-values/prometheus-values.yaml
        - ../../helm-values/grafana-values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

