apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring
  namespace: monitoring
spec:
  project: monitoring
  source:
    repoURL: 'https://github.com/s-frw/homelab.git'
    targetRevision: main
    path: argocd/helm-charts/kube-prometheus-stack
    helm:
      releaseName: kube-prom
      values: |
        grafana:
          adminUser: admin
          adminPassword: admin
          service:
            type: LoadBalancer
            loadBalancerIP: 192.168.122.242   
          persistence:
            enabled: true
            size: 5Gi
        prometheus:
          service:
            type: LoadBalancer
            loadBalancerIP: 192.168.122.243   
          prometheusSpec:
            retention: 7d
            storageSpec:
              volumeClaimTemplate:
                spec:
                  accessModes: ["ReadWriteOnce"]
                  resources:
                    requests:
                      storage: 10Gi
  ignoreDifferences:
  - group: apiextensions.k8s.io
    kind: CustomResourceDefinition
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions: 
      - ServerSideApply=true

